@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}
.loading {
  &.global {
    z-index: 9999999;
    position: fixed;
    top: 75%;
    left: 50%;
    width: 50%;
    height: 50%;
    margin-top: -25%; /* Negative half of height. */
    margin-left: -25%; /* Negative half of width. */
    animation: spin 3s linear infinite;
  }
}
