<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title><%= title %></title>
        <meta property="og:title" content="<%= title %>">
        <meta property="twitter:title" content="<%= title %>">
        <meta http-equiv="X-UA-Compatible" content="<%= title %>">
        <meta name="description" content="<%= description %>">
        <meta name="og:description" content="<%= description %>">
        <meta name="twitter:description" content="<%= description %>">
        <meta name="keywords" content="<%= keywords %>">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

        <meta name="msapplication-config" content="assets/browserconfig.xml" />
        <link rel="manifest" href="assets/site.webmanifest" />
        
        <link rel="apple-touch-icon" sizes="57x57" href="assets/images/faviconsapple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/images/faviconsapple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/faviconsapple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/images/faviconsapple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/images/faviconsapple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/images/faviconsapple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/images/faviconsapple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/images/faviconsapple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/faviconsapple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/images/faviconsandroid-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/images/faviconsfavicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/images/faviconsfavicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/images/faviconsfavicon-16x16.png">
        
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
